streamlit
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
faiss-cpu
sentence-transformers
transformers
python-dotenv
pypdf
youtube-transcript-api
pytube
